* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.clock {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(243, 243, 243);
    font-size: 6em;
    height: 100%;

}

.time,
.date,
.day {
    display: block;
    position: relative;
}

.time {
    font-size: 1.3em;
}

.date {
    font-size: 30px;
}

.day {
    font-size: 20px;
    margin-top: 10px;
}

.decoration1,
.decoration2 {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(85, 87, 87);
}

.decoration1 {
    top: -50px;
    left: -50px;
}

.decoration2 {
    top: 495px;
    right: -35px;
}

.quote-area {
    position: fixed;
    text-align: center;
    z-index: 999999;
    color: white;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 410px;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.button,
.button2 {
    margin-top: 270px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: none;
    color: white;
    border: 1px solid white;


}

.button:hover,
.button2:hover {
    color: black;
    /* background: none; */
    background: white;
    border: 1px solid white;
}

@media (max-width:500px) {

    .time,
    .date,
    .day {
        display: block;
        position: relative;
        top: 100px;

    }

    .time {
        font-size: 1em;
    }

    .quote-area {
        position: fixed;
        text-align: center;
        z-index: 999999;
        color: white;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 400px;
        font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
    }

    .button,
    .button2 {
        margin-top: 440px;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 20px;
        color: white;
        border: 1px solid white;
    }

    .button:hover,
    .button2:hover {
        color: black !important;
        /* background: none; */
        background: white;
        border: 1px solid white;
    }

    .button-container {
        position: absolute;
        /* bottom: 10%; */
        margin-top: 500px;
    }
}